<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>@Model.GetName()</title>
  </head>
  <body>
    <a href="/clients/new">Add a new client to @Model.GetName()</a>
    <a href="/stylists/edit/@Model.GetId()">Edit @Model.GetName()</a>
  </body>
</html>
